[Unit]
Description=Jarvis
After=syslog.target

[Service]
User=USERNAME
Type=simple
PIDFile=/var/run/jarvis.pid
ExecStart=PATH_TO_JARVIS/jarvis.sh -n
ExecStop=PATH_TO_JARVIS/jarvis.sh -q
Restart=on-failure
RemainAfterExit=true

[Install]
WantedBy=multi-user.target
